.container{
    text-align: center;
}

input{
    background-color: gray;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

p-password{
    background-color: gray;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

p-button{
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.button{
    margin-top: 10px;
}