<div class="container">
    <h1 class="mt-4 mb-4">Regisztráció</h1>
    <div class="main">
        <input 
            type="text" 
            id="name" 
            name="name" 
            pInputText 
            [(ngModel)]="user.name" 
            placeholder="Enter your name" 
            autocomplete="name"
        />
        <br>

        <input 
            type="email" 
            id="email" 
            name="email" 
            pInputText 
            [(ngModel)]="user.email" 
            placeholder="Enter your email" 
            autocomplete="email"
        />
        <br>

        <p-password 
            [(ngModel)]="user.password" 
            [feedback]="false" 
            inputId="password"
            name="password"     
            placeholder="Enter password" 
            autocomplete="new-password"
        ></p-password>
        <br>

        <input 
            type="text" 
            id="domain" 
            name="domain" 
            pInputText 
            [(ngModel)]="user.domain" 
            placeholder="Enter domain name" 
            autocomplete="organization"
        />
        <br>

        <p-button 
            label="Regisztráció" 
            class="btn btn-primary mb-3" 
            (click)="registration()"
        ></p-button>
    </div>
</div>
