<div class="container">
    <h1>Regisztráció</h1>
    <div class="main">
        <input type="text" id="name" name="name" pInputText [(ngModel)]="name" placeholder="Enter your name" autocomplete="name"/>
        <br>
        <input type="email" id="email" name="email" pInputText [(ngModel)]="email" placeholder="Enter your email" autocomplete="email"/>
        <br>
        <input type="password" id="password" name="password" pInputText [(ngModel)]="password" placeholder="Enter your password" autocomplete="new-password"/>
        <br>
        <div class="button">
            <p-button label="Regisztráció" (click)="registration()"></p-button>
        </div>
    </div>
</div>
